html, body {
  font-family: 'Open Sans', Arial,  sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.42;
  background: #17191C;
}

.main-page-wrapper {
  overflow: hidden;
  background: url(../img/bgtop.png) top no-repeat, url(../img/bgbottom.png)  bottom no-repeat ;
  /* filter: grayscale(1); */
}

.wrapper-second {
  /* filter: grayscale(0); */
}

* {
  box-sizing: border-box;
}

ul > li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

h1 {
  font-size: 60px;
  margin-bottom: 20px;
  line-height: 1.1;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.top {
  background: url(../img/bgtop.png) center center no-repeat;
}

.top__title {
  margin-bottom: 100px;
}