// colors
$violet: #8F00FF;
$black: #292929;
$gray: #666666;

// size
$baseFontSize: 16px;
$baseContainerWidth: 1000px;

// breakpoints
$phones: 480px;

@import './media.scss';
@import './normalize.scss';
@import './layout.scss';

@import './blocks/bounce.scss';
@import './blocks/btn.scss';
@import './blocks/enter.scss';
@import './blocks/hero.scss';
@import './blocks/dropdown.scss';
@import './blocks/top.scss';
@import './blocks/order.scss';
@import './blocks/header.scss';
@import './blocks/logo.scss';
@import './blocks/menu.scss';
@import './blocks/contact.scss';
@import './blocks/news.scss';
@import './blocks/game.scss';
@import './blocks/page.scss';
@import './blocks/about.scss';
@import './blocks/footer.scss';
@import './blocks/social.scss';
@import './blocks/breadcrumbs.scss';
@import './blocks/partners.scss';
@import './blocks/review.scss';
@import './blocks/banner.scss';
@import './blocks/form.scss';
@import './blocks/tag.scss';
@import './blocks/control.scss';