.form {
  padding-top: rem(40px);
}

.form__group {
  display: flex;
  column-gap: rem(28px);
  margin-bottom: rem(28px);
}

.form__list {
  display: flex;
  gap: rem(9px) rem(14px);
  margin-left: auto;
  max-width: rem(705px);
  flex-wrap: wrap;
}

.form__input {
  background-color: #fff;
  padding: rem(20px) rem(30px);
  border-radius: 5px;
  border: 3px solid transparent;
  outline: none;
  flex: 1;
}

.form__input:focus {
  border-color: #8F00FF;
}

.form__input::placeholder {
  color: #666666;
}

.form__input--type-textarea {
  height: rem(235px);
  resize: none;
}

.form__btn {
  display: flex;
  gap: rem(14px);
  margin-left: auto;
}