.page {
  font-size: rem(18px);
  display: flex;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(20px);
}

.page__current {
  margin-right: rem(30px);
  
  @include phones {
    margin-right: rem(10px);
    font-size: rem(14px);
  }
}

.page__list {
  display: flex;
}

.page__link {
  display: flex;
  width: rem(40px);
  height: rem(40px);
  margin-right: rem(10px);
  line-height: rem(40px);
  transition: 0.3s;
  border-radius: 50%;
  justify-content: center;
  
  @include phones {
    margin-right: rem(2px);

  }
}

.page__link--active {
  background-color: rgb(53, 52, 52);
  
}

.page__link:hover {
  box-shadow: 0 0 rem(20px) 0 #9e2af8;
  background-color: #8F00FF;
  border-radius: 50%;
}
