.top {
  background: url(../img/bgtop.png) center center no-repeat;
}

.top-container {
  min-height: rem(412px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
